a {
  cursor: pointer;
}

.bg-body-dark {
  background: #3c515f !important;
  color: #c1c1c1;
}

.bg-body-light {
  background: #eeeeee;
  color: #6e6e6e;
}

.btn-color-1 {
  background-color: #ed4e29 !important;
  color: #ffffff;
}

.btn-color-2 {
  background-color: #72cace !important;
  color: #ffffff;
}

.btn-color-3 {
  background-color: #ffffff !important;
  color: #ed4e29;
}

.form-control:focus {
  border-color: #ed4e29;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ed4e29;
}

.table-header-bg-1 {
  background: #1b3343 !important;
}